<h1>{{ appName }}</h1>
<h2>{{ header1 }}</h2>
<h3>The sum of {{ n1 }} and {{ n2 }} is {{n1 + n2}}</h3>
<h3>The difference of {{ n1 }} and {{ n2 }} is {{ n1 - n2}}</h3>
<h3>The product of {{ n1 }} and {{ n2 }} is {{ n1 * n2 }}</h3>
<h3>The quotient of {{ n1 }} nad {{ n2 }} is {{ n1 / n2 }}</h3>

<input type="text"[value]="clientName">

<p [style.Color]="myColor">Text color using style binding</p>

<p [class]="appliedCSSClass">Line with applied CSS style</p>
<p [class.blue]="notappliedCSSClass">Line without applied CSS line (Bool)</p>

<br><br>
<h2>two-way data binding</h2>
<button (click)="showData($event)">Click Here!</button>
<br>
<p>Using keyup, keydown, blue, mouse actions</p>
<br>
<input type="text" #keyupbox placeholder="keyup box" (keyup)=getData(keyupbox.value)/>
<br>
<input type="text" #keydownbox placeholder="keydown box" (keydown)=getData(keydownbox.value)/>
<br>
<input type="text" #keyblurbox placeholder="keyblur box" (blur)=getData(keyblurbox.value)/>
<br>
<input type="text" #keyinputbox placeholder="keyinput box" (input)=getData(keyinputbox.value)/>

<h2 (mouseover)="getData('mouse over')">Hover your mouse on this text</h2>
<h2 (mouseleave)="getData('mouse left')">Hover your mouse on this text and leave</h2>
